<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="/static/css/global.css">
		<link rel="stylesheet" href="/static/css/nav.css">
		<link rel="stylesheet" href="/static/css/chat.css">
		<script defer src="/socket.io/socket.io.js"></script>
		<script defer  src="/static/js/chat.js"></script>
		<script defer  src="/static/js/global.js"></script>
	</head>
	<body>
		<div class="super">
			<div class="main">
				<div class="nav">
					<div class="brand" > 
						<div class="backIcon" onclick="goto('/dashboard')">
							{{> "backIcon"}}	
						</div>
						<div class="dpDiv" onclick="goto('/user/{{user}}')">
							<div></div>
						</div>
						<span onclick="goto('/user/{{user}}')">{{fname}} {{lname}}</span>
					</div>
					<div class="icons">
						<div class="icon flx">
							{{> "voiceCall"}}
						</div>
						<div class="icon flx">
							{{> "videoCall"}}
						</div>
						<div class="icon rotate flx">
							{{> "options"}}
						</div>
					</div>
				</div>
				<div class="body">
					<div id="chats" class="chats fullw flx">
					</div>
				</div>
			</div>
			<div class="tools">
				<div class="inp flx">
					<div class="icons flx">
						<div onclick="" class="flx icon">
							{{> "emoji"}}	
						</div>
					</div>
					<input id="msgInp" type="text" autocomplete='off' placeholder = 'Message'>
				</div>
				<div class="send flx">
					<div class="icons flx">
						<div onclick="sendMsg()" class="flx icon">
							{{> "send"}}	
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			const usrProf = {
							fname:'{{fname}}',
							lname:'{{lname}}',
							user:'{{user}}',
							me:'{{me}}',
							myfname:'{{myfname}}',
							mylname:'{{mylname}}',
						}
		</script>
	</body>
</html>
